<div class="header-modal">
    <div class="header-title">
        {{ currentStep ===1 ? 'Забыли пароль?' : currentStep ===2 ? 'Проверка кода' : 'Изменение пароля' }}
    </div>
</div>
<div class="modal-content">
@if (currentStep ===1) {
    <p class="modal-content-text">
    Введите адрес электронной почты от вашего аккаунта Парольник. Мы отправим вам электронное письмо с кодом для проверки.
    </p>
    <form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Введите корректный email.">
            <input nz-input formControlName="email" id="email" />
        </nz-form-control>
    </nz-form-item>
    <div class="button-footer">
        <button type="submit">Отправить код</button>
    </div>
    </form>
}  

@if (currentStep ===2) {
    <p class="modal-content-text">Введите полученный код для подтверждения.</p>
    <form [formGroup]="codeForm" (ngSubmit)="submitCode()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Код</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Введите правильный код!">
        <nz-flex nzVertical [nzGap]="16">
            <nz-flex nzVertical>
                <nz-input-otp formControlName="code"></nz-input-otp>
            </nz-flex>
        </nz-flex>
        </nz-form-control>
    </nz-form-item>
    <div class="button-footer">
        <button type="submit">Проверить код</button>
    </div>
    </form>
}
 
@if (currentStep ===3) {
    <p class="modal-content-text">Введите новый пароль.</p>
    <form [formGroup]="passwordForm" (ngSubmit)="submitNewPassword()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">Пароль</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="passwordErrorTpl">
            <nz-input-group [nzSuffix]="suffixTemplatePassword">
                <input [type]="passwordVisible$() ? 'text' : 'password'" nz-input formControlName="password" id="password" />
                <ng-template #passwordErrorTpl let-control>
                    @if (control.errors?.['required']) {
                        Пожалуйста введите мастер пароль!
                    }
                    @else if (control.errors?.['minLength']) {
                        Пароль должен быть не короче {{ control.errors['minLength'].requiredLength }} символов.
                    }
                    @else if (control.errors?.['uppercase']) {
                        Пароль должен содержать хотя бы одну заглавную букву.
                    }
                    @else if (control.errors?.['lowercase']) {
                        Пароль должен содержать хотя бы одну строчную букву.
                    }
                    @else if (control.errors?.['digit']) {
                        Пароль должен содержать хотя бы одну цифру.
                    }
                    @else if (control.errors?.['specialChar']) {
                        Пароль должен содержать хотя бы один специальный символ.
                    }
                </ng-template>
            </nz-input-group>
        </nz-form-control>

        <ng-template #suffixTemplatePassword>
            <nz-icon
                class="ant-input-password-icon"
                [nzType]="passwordVisible$() ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible$.set(!passwordVisible$())"
            />
        </ng-template>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="confirmPassword">Подтвердите</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="passwordErrorConfirmTpl">
            <nz-input-group [nzSuffix]="suffixTemplateConfirm">
                <input [type]="confirmPasswordVisible$() ? 'text' : 'password'" nz-input formControlName="confirmPassword" id="confirmPassword"/>
                <ng-template #passwordErrorConfirmTpl let-control>
                  @if (control.errors?.['required']) { Пожалуйста подтвердите мастер пароль! }
                  @if (control.errors?.['confirm']) { Пароли не совпадают! }
                </ng-template>
            </nz-input-group>
        </nz-form-control>

        <ng-template #suffixTemplateConfirm>
            <nz-icon
                class="ant-input-password-icon"
                [nzType]="confirmPasswordVisible$() ? 'eye-invisible' : 'eye'"
                (click)="confirmPasswordVisible$.set(!confirmPasswordVisible$())"
            />
        </ng-template>
    </nz-form-item>

    <div class="button-footer">
        <button type="submit">Сохранить новый пароль</button>
    </div>
    </form>
}
</div>