.header-modal {
    background-color: #d32d27;
    color: white;
    padding: 14px 20px;
}

.header-title {
    font-family: 'Gibson', 'Open Sans', "open_sanssemibold", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

::ng-deep .ant-modal-close-x {
    color: #fff;
}

.modal-content {
    padding: 35px;
}

.modal-content-text {
    font-size: 15px;
    font-family: 'Gibson', 'Open Sans', 'open_sanssemibold', "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.4;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

::ng-deep .ant-form {
    margin-bottom: 20px;
}

.button-footer {
    display: flex;
    justify-content: center;

    button {
        font-family: 'Gibson', 'Open Sans', 'open_sanssemibold', "Helvetica Neue", Helvetica, sans-serif;
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
        min-width: auto;
        vertical-align: top;
        white-space: normal;
        margin: 0;
        border-radius: 20px;
        background-color: #d32d27;
        cursor: pointer;
        border: 0;
        color: #fff;
    }
}

nz-form-item {
    gap: 10px;
}