<nz-header>
    <div class="logo" (click)="openWelcomePage()">ПАРОЛЬНИК</div>
    <ul class="nav-left">
        <li class="nav-left-item">
            <span>Функции</span>
            <nz-icon nzType="down" nzTheme="outline" />
        </li>
        <li class="nav-left-item" (click)="openSupportPage()">
            <span>Поддержка</span>
            <nz-icon nzType="down" nzTheme="outline" />
        </li>
    </ul>
    <ul class="nav-right">
        <li class="nav-right-item">
            <button class="signup-btn" (click)="showModalSignUp()">
                Регистрация
            </button>
        </li>
        <li class="nav-right-item" nz-dropdown [nzDropdownMenu]="menucontacts">
            <button class="contacts-btn">
                <nz-icon class="comment-icon" nzType="comment" nzTheme="outline" />
                <span>Контакты</span>
                <nz-icon class="down-icon" nzType="down" nzTheme="outline" />
            </button>
            <nz-dropdown-menu #menucontacts="nzDropdownMenu">
                <ul nz-menu class="dropdown-menu">
                    <li nz-menu-item class="dropdown-contact-item" (click)="copyToClipboard('passwordloggerggkttid@mail.ru')">
                        <nz-icon style="margin-right: 5px;" nzType="wechat-work" nzTheme="outline" />
                        <span>passwordloggerggkttid&#64;mail.ru</span>
                    </li>
                    <li nz-menu-item class="dropdown-contact-item" (click)="copyToClipboard('+375 (33) 621-10-10')">
                        <nz-icon style="margin-right: 5px;" nzType="phone" nzTheme="outline" />
                        <span>+375 (33) 621-10-10</span>
                    </li>
                </ul>
            </nz-dropdown-menu>
        </li>
        <li class="nav-right-item">
            <button class="signin-btn" (click)="showModalSignIn()">
                <nz-icon nzType="user" nzTheme="outline" />
                <span>Вход</span>
            </button>
        </li>
        <button class="menu-btn" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <nz-icon nzType="menu" nzTheme="outline"></nz-icon>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="dropdown-item">
                    <nz-icon nzType="dashboard" nzTheme="outline" />
                    <span>Функции</span>
                </li>
                <li nz-menu-item class="dropdown-item" (click)="openSupportPage()">
                    <nz-icon nzType="heart" nzTheme="outline" />
                    <span>Поддержка</span>
                </li>
                <li nz-menu-item class="dropdown-item dropdown-comment">
                    <nz-icon nzType="comment" nzTheme="outline" />
                    <span>Контакты</span>
                </li>
                <li nz-menu-item class="dropdown-item dropdown-user" (click)="showModalSignIn()">
                    <nz-icon nzType="user" nzTheme="outline" />
                    <span>Вход</span>
                </li>
            </ul>
        </nz-dropdown-menu>
    </ul>
</nz-header>
