<app-header></app-header>
<nz-content>
    <div class="welcome-page">
        <div class="welcome-content">
            <div class="left-part">
                <div class="rate-block">
                    <nz-icon nzType="chrome" nzTheme="outline" />
                    <nz-icon nzType="google" nzTheme="outline" />
                    <nz-rate [ngModel]="4.5" nzAllowHalf nzDisabled></nz-rate>
                    <!-- <span>30+ отзывов</span> -->
                </div>
                <div class="title">
                    Каждый логин хранится в Парольнике
                </div>
                <div class="subtitle">
                    Упростите свою цифровую жизнь с помощью менеджера паролей, который создает, хранит надежные пароли для вас.
                </div>
                <div class="start-btn">
                    <button (click)="showModalSignUp()">
                        Начать
                    </button>
                </div>
            </div>
            <div class="right-part">
                <img src="laptop.png" alt="">
            </div>
        </div>
    </div>
    <div class="welcome-attributes">
        <div class="welcome-attributes-wrapper">
            <section class="welcome-attributes-wrapper-title">
                <span>Устраните проблемы с паролями</span>
            </section>
            <div class="welcome-attributes-wrapper-products">
                <div class="product-item">
                    <img src="welcome-product-1.svg" alt="">
                    <h3>Поставьте свою цифровую жизнь на автопилот</h3>
                    <p>Автоматизируйте создание, сохранение и ввод паролей, чтобы вы могли сосредоточиться на более важных задачах.</p>
                </div>
                <div class="product-item">
                    <img src="welcome-product-2.svg" alt="">
                    <h3>Разблокируйте беспрепятственный обмен</h3>
                    <p>Безопасно делитесь паролями с коллегами или членами семьи одним щелчком мыши, чтобы упростить доступ и совместную работу.</p>
                </div>
                <div class="product-item">
                    <img src="welcome-product-3.svg" alt="">
                    <h3>Избегайте слабых, повторно используемых паролей</h3>
                    <p>Наш менеджер паролей генерирует надежные уникальные пароли для ваших учетных записей и запоминает каждый из них.</p>
                </div>
                <div class="product-item">
                    <img src="welcome-product-4.svg" alt="">
                    <h3>Никогда больше не окажетесь запертыми</h3>
                    <p>Получите доступ к своим паролям из любой точки мира и с любого устройства, чтобы иметь возможность входить в важные учетные записи в любое время.</p>
                </div>
            </div>
        </div>
    </div>
    <nz-divider></nz-divider> 
    <div class="tabs">
        <section class="tabs-title">
            Управление паролями для всех
        </section>
        <div class="tabs-content">
            <section class="tabs-wrapper">
                <div class="flex-content">
                    <div class="flex-content-left">
                        <img src="https://masterpiecer-images.s3.yandex.net/19a359b88e9611ee8381b646b2a0ffc1:upscaled" alt="">
                    </div>
                    <div class="flex-content-right">
                        <div class="flex-content-right-title">
                            Доступ к вашим паролям в любом месте и в любое время
                        </div>
                        <div class="flex-content-right-list">
                            <ul>
                                <li>
                                    <nz-icon nzType="down" nzTheme="outline" />
                                    <p>Автоматически создавайте надежные уникальные пароли для всех своих учетных записей, чтобы избежать повторного использования паролей.</p>
                                </li>
                                <li>
                                    <nz-icon nzType="down" nzTheme="outline" />
                                    <p>Сохраните элемент в своем менеджере паролей, и он автоматически синхронизируется на всех ваших устройствах, обеспечивая мгновенный доступ к нему из любой точки мира.</p>
                                </li>
                                <li>
                                    <nz-icon nzType="down" nzTheme="outline" />
                                    <p>Храните в своем хранилище не только пароли, но и данные кредитных карт, адреса доставки, данные Wi-Fi и документы.</p>
                                </li>
                            </ul>  
                        </div>
                        <div class="flex-content-right-btn">
                            <button (click)="showModalSignUp()">
                                Попробовать Парольник
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</nz-content>
<app-footer></app-footer>