<div class="main-page">
    <div class="left-menu" [ngClass]="{'collapsed': isCollapsed$()}">
          <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed$()">
            <li
              nz-menu-item
              (click)="toggleCollapsed()"
            >
              <nz-icon [nzType]="isCollapsed$() ? 'arrow-right' : 'arrow-left'" />
              <span>Свернуть меню</span>
            </li>
            <nz-divider></nz-divider>
            <li
              nz-menu-item
              nz-tooltip
              [nzTooltipTitle]="isCollapsed$() ? 'Все элементы' : ''"
              nzSelected
              (click)="selectedType$.set(null)"
            >
              <nz-icon nzType="home" />
              <span>Все элементы</span>
            </li>
            <nz-divider></nz-divider>
            <li
              nz-menu-item
              nz-tooltip
              [nzTooltipTitle]="isCollapsed$() ? 'Пароли' : ''"
              (click)="selectedType$.set('password')"
            >
              <nz-icon nzType="lock" />
              <span>Пароли</span>
            </li>
            <li
              nz-menu-item
              nz-tooltip
              [nzTooltipTitle]="isCollapsed$() ? 'Заметки' : ''"
              (click)="selectedType$.set('note')"
            >
              <nz-icon nzType="file" />
              <span>Заметки</span>
            </li>
            <li
              nz-menu-item
              nz-tooltip
              [nzTooltipTitle]="isCollapsed$() ? 'Адреса' : ''"
              (click)="selectedType$.set('address')"
            >
              <nz-icon nzType="global" />
              <span>Адреса</span>
            </li>
            <nz-divider></nz-divider>
            <li
              nz-menu-item
              nz-tooltip
              [nzTooltipTitle]="isCollapsed$() ? 'Данные карт' : ''"
              (click)="selectedType$.set('creditCard')"
            >
              <nz-icon nzType="credit-card" />
              <span>Данные карт</span>
            </li>
            <li
              nz-menu-item
              nz-tooltip
              [nzTooltipTitle]="isCollapsed$() ? 'Банковские аккаунты' : ''"
              (click)="selectedType$.set('bankAccount')"
            >
              <nz-icon nzType="bank" />
              <span>Банковские аккаунты</span>
            </li>
          </ul>
    </div>
    <div class="right-main-content">
        <div class="right-main-content-header">
            <div class="right-main-content-header-logo">
                ПАРОЛЬНИК
            </div>
            <div class="right-main-content-header-search">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="Поиск..." autocomplete="off" [ngModel]="typehead$()" (ngModelChange)="typehead$.set($event)"/>
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <nz-icon nzType="search" />
                  </ng-template>
            </div>
            <div class="right-main-content-header-user">
                <div class="avatar">
                    <img src="user-avatar.png" alt="">
                </div>
                <div class="user-email">
                    dyrachyoprime&#64;gmail.com
                </div>
                <div class="user-icon">
                    <nz-icon nzType="down" nzTheme="outline" />
                </div>
            </div>
        </div>
        <div class="title-category">
            <h3>Все элементы</h3>
            <div class="sort-items" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                <div class="order-options">
                    Сортировка по:
                    <span>{{sortOption$()}}</span>
                    <nz-icon nzType="down" nzTheme="outline" />
                </div>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="changeSortOption('имени a-z')">Имя a-z</li>
                    <li nz-menu-item (click)="changeSortOption('имени z-a')">Имя z-a</li>
                    <li nz-menu-item (click)="changeSortOption('папке a-z')">Папка a-z</li>
                    <li nz-menu-item (click)="changeSortOption('папке z-a')">Папка z-a</li>
                  </ul>
                </nz-dropdown-menu>
            </div>
        </div>
        <div style="margin: 0 48px;">
            <nz-divider style="margin-bottom: 12px;"></nz-divider>
        </div>
        <div class="cards">
            @for (itemCard of filteredCards$(); track itemCard.id) {
              @switch (itemCard.type) {
                @case ('password') {
                  <password-card [card]="itemCard" (onDeleteCard)="onDeleteCard($event)"></password-card>
                }
                @case ('note') {
                  <other-card [card]="itemCard" (onDeleteCard)="onDeleteCard($event)"></other-card>
                }
                @case ('address') {
                  <other-card [card]="itemCard" (onDeleteCard)="onDeleteCard($event)"></other-card>
                }
                @case ('creditCard') {
                  <other-card [card]="itemCard" (onDeleteCard)="onDeleteCard($event)"></other-card>
                }
                @case ('bankAccount') {
                  <other-card [card]="itemCard" (onDeleteCard)="onDeleteCard($event)"></other-card>
                }
              }
            }
        </div>
        <nz-float-button style="height: 55px; width: 55px; right: 60px;" [nzIcon]="icon" (nzOnClick)="showAllItemsModal()"></nz-float-button>
        <ng-template #icon>
            <nz-icon nzType="plus" nzTheme="outline" style="color: #fff;"></nz-icon>
        </ng-template>
    </div>
</div>
